/* Reset */

body {
  margin: 0;
}

blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Typography */

:root {
  --brand: #ff4757;
  --heading: 'Service Station Heading';
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #222;
  background-color: #fafafa;
  font: 400 14px/1.625 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: calc(14px + (20 - 14) * (100vw - 320px) / (750 - 320));
}

@media (min-width: 750px) {
  body {
    font-size: 20px;
  }
}

a {
  color: var(--brand);
}

code {
  font-size: 0.9em;
}

h1 {
  font-family: var(--heading);
  line-height: 1.2;
  font-size: 2.5em;
  font-weight: 400;
}

h2 {
  margin: 0 0 0.5rem;
}

p {
  margin: 0 0 1.5rem;
}

@font-face {
  font-family: 'Service Station Heading';
  src: url('/assets/fonts/ServiceStation-Rough.woff') format('woff');
}

/* Grid */

.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

main.wrapper {
  padding: 40px 20px;
}

/* Header */

[role='banner'] {
  background: #fff;
  font-family: var(--heading);
  font-size: 1.25em;
  line-height: 1;
}

[role='banner'] a {
  text-decoration: none;
}

[role='banner'] a + a {
  margin-left: 0.5em;
}

/* Footer */

[role='contentinfo'] .wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[role='contentinfo'] .deploy {
  max-width: 40%;
}

/* Review */

.review {
  background: var(--brand);
  color: #fff;
  padding-top: 0.5rem;
}

.review .wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.review dd {
  font-size: 2em;
  font-family: var(--heading);
  margin: 0 0 0 0.5rem;
  display: inline-block;
  line-height: 1;
}

.review dt {
  display: inline-block;
  font-size: 0.75em;
}

/* Reviews listing */

.reviews {
  list-style: none;
  display: grid;
  grid-gap: 1.5rem;
}

.reviews > * {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews a {
  text-decoration: none;
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%:
}

.reviews {
  pointer-events: none;
}

.reviews > * {
  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
}

.reviews:hover > * {
  opacity: 0.4;
}

.reviews:hover > *:hover {
  transform: scale(1.025);
  opacity: 1;
}

@media (min-width: 40em) {
  .reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Hero */

.hero {
  min-height: 30vw;
  background: url('/assets/img/bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.hero > * {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
  text-align: center;
}

.hero:after {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.hero h1 {
  font-size: 3em;
}
